@import "~bootstrap/scss/bootstrap";
@import "./override.scss";

@font-face {
    font-family: "LinuxLibertine";
    src: url("@home/static/LinLibertine_R.ttf") format("truetype");
}

html, body, #root-app {
    height: 100%;
    width: 100%;
    background: #D3E0E9;
    background: linear-gradient(0deg, #D3E0E9, #FFFFEE);
}

.typical-page-layout {
    margin: auto;
    width: 80%;
}

.align-center {
    text-align: center;
}