@import "@home/styles/variables.scss";

.space-after-title {
    padding-bottom: 4em;
}

.space-after-inputs {
    padding-bottom: 1em;
}

.between-input-small-space {
    padding-bottom: 1em;
}

.path-container {
    height: 20%;
    margin-top: 3em !important;
    animation: 500ms path-container-animation
}

@keyframes path-container-animation {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.wikisp-logo {
    font-family: $font-wiki;
}

#wikisp-title {
    font-size: 9vh;
}

.wikisp-title-larger {
    font-size: 13vh;
}
