@import "@home/styles/variables.scss";

.space-after-title {
    padding-bottom: 2em;
}

.space-after-inputs {
    padding-bottom: 1em;
}

// For mobiles
.between-input-small-space {
    padding-bottom: 1em;
}

.path-container {
    height: 20%;
    margin-top: 3em !important;
    animation: 500ms path-container-animation
}

@keyframes path-container-animation {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.wikisp-logo {
    font-family: $font-wiki;
}

#wikisp-title {
    font-size: 9vh;
}

.wikisp-title-larger {
    font-size: 13vh;
}

.wikisp-desc {
    text-align: center;
    text-justify: justify;
}

.footer {
    position: left;
    bottom: right;
    width: 100%;
    border: 1px red;
    padding-right: 1em;
    padding-top: 1em;
    .footer-text {
        text-align: right;
        font-weight: bold;
    }
}