.col-path {
    //border: 2px solid black;
    text-align: center;

    @media (min-width: 769px) {
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {
    .path-arrow {
        transform: translateY(50%);

        svg {
            writing-mode: vertical-rl;
            transform: rotate(-270deg);
            height: 20%;
        }
    }
}

@media (min-width: 769px) {
    .path-arrow {
        svg {
            height: 40px;
            width: 50px
        }
    }
}

.path-arrow {
    width: 100%;
    height: 80%;
    text-align: center;
}

.article-info {
    //padding-bottom: 100%;
    font-family: 'LinuxLibertine','Georgia','Times',serif;
    background-color: white;
    height: 100%;
}